
/**************************select2******************/
/*******************Select2 css***********************/
span .select2-selection.select2-selection--single {
    height: auto !important;
    border-radius: 8px !important;
    padding: 4px 8px !important;
}

#idObjInstitucional + span .select2-selection__rendered {
    display: flex !important;
    align-items: center !important;
    gap: 10px !important;
    height: 70px !important;
}

#idObjInstitucional +span  .select2-selection__placeholder{
    font-size: 18px !important;
    color: #7086bd;
}

.mi-render-select2 {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    padding: 2px 0;
    gap: 5px;
    flex: 1;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: normal !important;
    padding-left: 0 !important;
}

.select2-results__option {
    border-bottom: 1px dotted darkgrey;
}

.select2-results__options {
    max-height: 390px !important; /* Aumenta o disminuye este valor */
}

/****************select2 datos css************************/

.titulo-producto {
    font-weight: bold;
    color: #333;
}

.subtitulo-producto {
    font-weight: normal;
    color: #333;
}

/****************************************************/
.group-container{
    gap: 10px !important;
}

.sub-group-container{
    padding: 10px;
}