.closed .vertical {
    transition: all 0.5s ease-in-out;
    transform: rotate(-90deg);
}
.closed .horizontal {
    transition: all 0.5s ease-in-out;
    transform: rotate(-90deg);
    opacity: 1;
}

.opened {
    opacity: 1;
}
.opened .vertical {
    transition: all 0.5s ease-in-out;
    transform: rotate(90deg);
}
.opened .horizontal {
    transition: all 0.5s ease-in-out;
    transform: rotate(90deg);
    opacity: 0;
}

.circle {
    display: inline-block;
    vertical-align: middle;
}

.icon .circle {
    position: relative;
    width: 1.55em;
    height: 1.5em;
    border-radius: 100%;
    border: solid .1em whitesmoke;
}
.icon .circle .horizontal {
    position: absolute;
    background-color: whitesmoke;
    width: 20px;
    height: 2px;
    left: 50%;
    margin-left: -10px;
    top: 50%;
    margin-top: -1.2px;
}
.icon .circle .vertical {
    position: absolute;
    background-color: whitesmoke;
    width: 2px;
    height: 20px;
    left: 50%;
    margin-left: -1.5px;
    top: 50%;
    margin-top: -10px;
}

.titulosmall{
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

.subsmall{
    font-size: 11px;
    font-weight: bold;
}

.little{
    font-size: 11px;
}

.page-link{
    width: 50px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    padding: 4px!important;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    box-shadow:0 1px 2px #5e5d5b;
}

.dt-search label{
    font-size: 13px;
}

.dt-length label{
    font-size: 13px;
}

.dt-info {
    font-size: 13px;
}

.dt-paging-button a {
    font-size: 13px;
}

tr.incompleto {
    background-color: #f7d2e0 !important;
}

tr.completo {
    background-color: #dcfadc !important;
}

.completo {
    background-color: #dcfadc !important;
}

th.dt-center, td.dt-center { text-align: center !important; }

th.dt-small, td.dt-small, dt.dt-small, dd.dt-small { font-size: 13px; !important; }

th.dt-acciones, td.dt-acciones  {
    width: 130px; !important;
    text-align: center;
}
th.dt-estado, td.dt-estado  {
    width: 50px;
    text-align: center;
}

.btnEstado {
    height: 30px;
    width: 80px;
    font-size: x-small;

}

.btnEditar {
    width: 60px;
    height: 30px;
}

.btnEditar > i {
    color:darkslategrey;
    font-size:15px
}

.btnEliminar {
    width: 60px;
    height: 30px;
}

.btnEliminar > i {
    color:darkslategrey;
    font-size:15px
}

.btnEliminar:hover > i {
    color:white;
    font-size:15px
}

.highlight-node > .jqtree-element > .jqtree-title {
    font-weight: bold;
}

.searchArea button {
    float: right;
}
.searchArea .inputDiv {
    overflow: hidden;
}

.modal-dialog{
    height:100%
}
.modal-content{
    height:90%
}
.modal-body{
    height:100%;
    overflow:auto
}


